
@import url('css_base.css');

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--espaco-medio);
}

.card {
    background-color: #fff;
    border-radius: var(--raio-borda);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: var(--espaco-medio);
    text-align: center;
    width: 400px;
}

.card__image {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--espaco-grande);
}